[package]
name = "wallet_mobile"
version = "0.1.0"
authors = ["tyler <tailin@findora.org>"]
edition = "2018"
build = "build.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "wallet_mobile"
crate-type = ["cdylib", "staticlib", "rlib"]

# wasm-opt has a segfaulting issue. Disabling for now
[package.metadata.wasm-pack.profile.release]
wasm-opt = false

[dependencies]
aes-gcm = '=0.10.0-pre'
base64 = "0.10"
bech32 = "0.7.2"
ffi-support = "0.4"
futures = "0.1.20"
getrandom = { version = "0.2", features = ["js"] }
hex = "0.3.2"
js-sys = "0.3.27"
rand_chacha = "0.3"
rand_core = { version = "0.6", default-features = false, features = ["alloc"] }
ring = "0.16.19"
ruc = "1.0"
serde = { version = "1.0.124", features = ["derive"] }
serde_derive = "^1.0.59"
serde_json = "1.0"

zei = "0.2"
zei-algebra = "0.2"

finutils = { path = "../finutils", default-features = false, features = []}
fp-types = { path = "../contracts/primitives/types" }
fp-utils = { path = "../contracts/primitives/utils" }
globutils = { path = "../../libs/globutils" }
credentials = { path = "../../libs/credentials" }
cryptohash = { path = "../../libs/cryptohash" }

ledger = { path = "../../ledger" }

[dependencies.web-sys]
version = "0.3.4"
features = [
    'Headers',
    'Request',
    'RequestInit',
    'RequestMode',
    'Response',
    'Window',
    'console',
]

[target.'cfg(target_os="android")'.dependencies]
jni = "0.19"

[target.'cfg(target_arch="wasm32")'.dependencies]
wasm-bindgen = { version = "=0.2.73", features = ["serde-serialize"] }

[target.'cfg(not(target_arch="wasm32"))'.dependencies]
safer-ffi = "0.0.6"

[build-dependencies]
cbindgen = "0.20"
vergen = "3.1.0"
