[package]
name = "module-account"
version = "0.1.0"
authors = ["FindoraNetwork"]
edition = "2018"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora module supporting smart account function"
readme = "README.md"

[dependencies]
abci = { git = "https://github.com/FindoraNetwork/rust-abci", tag = "v0.7.2" }
ledger = { path = "../../../../ledger" }
log = "0.4"
primitive-types = { version = "0.10.0", default-features = false, features = ["rlp", "byteorder", "serde"] }
ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0.64"
storage = { git = "ssh://git@github.com/FindoraNetwork/storage.git", branch = "develop" }

# primitives, don't depend on any modules
fp-core = { path = "../../primitives/core" }
fp-storage = { path = "../../primitives/storage" }
fp-traits = { path = "../../primitives/traits" }
fp-types = { path = "../../primitives/types" }

[dev-dependencies]
parking_lot = "0.11.1"
rand_chacha = "0.2.0"
zei = { git = "ssh://git@github.com/FindoraNetwork/zei", tag = "v0.1.4c" }
