[package]
name = "fp-types"
version = "0.1.0"
authors = ["Findora <admin@findora.org>"]
edition = "2018"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora Primitive data types"
readme = "README.md"

[dependencies]
bech32 = "0.7.2"
ethereum = { version = "0.7.1", features = ["with-serde"] }
hex = "0.4.2"
globutils = { path = "../../../../libs/globutils" }
libsecp256k1 = { version = "0.5", features = ["static-context", "hmac"] }
primitive-types = { version = "0.9.0", features = ["rlp", "byteorder", "serde"] }
ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0"
sha3 = "0.8"
zei = { git = "ssh://git@github.com/FindoraNetwork/zei", tag = "test9"  }

# primitives
fp-utils = { path = "../utils" }

[dev-dependencies]
rand_chacha = "0.2.0"
