[package]
name = "fp-storage"
version = "0.1.0"
authors = ["FindoraNetwork"]
edition = "2018"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora Primitive storage structure definition"
readme = "README.md"

[dependencies]
parking_lot = "0.11.1"
paste = "1.0"
ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }
serde = { version = "1.0.124", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.9.5"
storage = { git = "https://github.com/FindoraNetwork/storage.git", tag = "v0.1.1" }

# primitives
fp-core = { path = "../core" }
