[package]
name = "fp-mocks"
version = "0.1.0"
authors = ["FindoraNetwork"]
edition = "2021"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora primitive mock functions for testing"

[dependencies]
abci = { git = "https://github.com/FindoraNetwork/rust-abci", tag = "v0.7.2" }
baseapp = { path = "../../baseapp" }
ethereum = { version = "0.9.0", default-features = false, features = ["with-serde"] }
lazy_static = "1.4.0"
libsecp256k1 = { version = "0.5", features = ["static-context", "hmac"] }
primitive-types = { version = "0.10.0", default-features = false, features = ["rlp", "byteorder", "serde"] }
rand_chacha = "0.2.0"
rlp = "0.5"
serde_json = "1.0"
sha3 = "0.8"
zei = { git = "https://github.com/FindoraNetwork/zei", branch = "anon-native-ruc-fix" }

# primitives
fp-traits = { path = "../traits" }
fp-types = { path = "../types" }
fp-utils = { path = "../utils" }

# modules
module-account = { path = "../../modules/account" }

