[package]
name = "ledger"
version = "0.2.0"
authors = ["FindoraNetwork"]
edition = "2018"
build = "build.rs"

[dependencies]
parking_lot = "0.11.1"
arrayref = "0.3.5"
base64 = "0.10"
bincode = "1.3.1"
byteorder = "1.0.0"
curve25519-dalek = { version =  "3", features = ["serde"] }
ed25519-dalek = "1.0.0-pre3"
hex = "0.3.2"
lazy_static = { version = "1.2.0" }
log = "0.4.8"
rand = "0.7"
rand_chacha = "0.2.2"
rand_core = { version = "0.5.1", default-features = false, features = ["alloc"] }
serde = { version = "1.0.124", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
serde-strz = "1.1.1"
sha2 = "0.8.0"
tempdir = "0.3"
tempfile = "3.1.0"
tiny-keccak = "1.4.2"
unicode-normalization = "0.1.13"
wasm-bindgen = { version = "0.2.50", features = ["serde-serialize"]  }
time = "0.2.26"
tendermint = "0.19.0"
indexmap = { version = "1.6.2", features = ["serde"] }
fp-types = { path = "../components/contracts/primitives/types" }

ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }
zei = { git = "ssh://git@github.com/FindoraNetwork/zei", tag = "test9" }
zeiutils = { package = "utils", git = "ssh://git@github.com/FindoraNetwork/zei", tag = "test9" }
bulletproofs = { package = "bulletproofs", git = "ssh://git@github.com/FindoraNetwork/bulletproofs", branch = "batch_verification", features = ["yoloproofs"] }
bnc = { git = "https://github.com/FindoraNetwork/BNC.git", tag = "v0.2.0a", default-features = false }
storage = { git = "https://github.com/FindoraNetwork/storage.git", branch = "feat-non-merkle-store" }

globutils = { path = "../libs/globutils" }
bitmap = { path = "../libs/bitmap" }
cryptohash = { path = "../libs/cryptohash" }
credentials = { path = "../libs/credentials"}
merkle_tree = { path = "../libs/merkle_tree" }
sliding_set = { path = "../libs/sliding_set" }

[features]
default = []
diskcache = ["bnc/diskcache"]
debug_env = []
abci_mock = []

[dev-dependencies]
lazy_static = "1.4.0"

[dependencies.fixed]
version = "0.4.6"
features = ["f16", "serde"]

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
sodiumoxide = "0.2.1"
fs2 = "0.4"

[build-dependencies]
vergen = "=3.1.0"
