[package]
name = "finutils"
version = "0.2.0"
authors = ["FindoraNetwork"]
build = "build.rs"
edition = "2018"

[dependencies]
tendermint = "0.19.0"
tokio = "1.10.1"
hex = "0.4.2"
base64 = "0.10"
clap = { version = "2.33.3", features = ["yaml"] }
lazy_static = "1.4.0"
attohttpc = { version = "0.16.3", default-features = false, features = ["compress", "json", "tls-rustls"] }
serde_json = "1.0.40"
serde = { version = "1.0.124", features = ["derive"] }
rand = "0.8"
rand_core = { version = "0.5", default-features = false, features = ["alloc"] }
rand_chacha = "0.2.0"
parking_lot = "0.11.1"
curve25519-dalek = { version = "3", features = ["serde"] }
wasm-bindgen = { version = "0.2.50", features = ["serde-serialize"] }

zei = { git = "https://github.com/FindoraNetwork/zei", tag = "v0.1.4d" }
ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }

ledger = { path = "../../ledger" }
globutils = { path = "../../libs/globutils" }
credentials = { path = "../../libs/credentials" }

baseapp = { path = "../contracts/baseapp", optional = true }
fp-core = { path = "../contracts/primitives/core", optional = true }
fp-utils = { path = "../contracts/primitives/utils" }
fp-types = { path = "../contracts/primitives/types" }
fc-rpc = { path = "../contracts/rpc" }

tendermint-rpc = { version = "0.19.0", features = ["http-client", "websocket-client"], optional = true }

[dev-dependencies]

[build-dependencies]
vergen = "=3.1.0"

[features]
default = ["std"]
std = [
    "baseapp",
    "fp-core",
    "tendermint-rpc"
]
abci_mock = ["ledger/abci_mock"]
debug_env = ["ledger/debug_env"]

[[bin]]
name = "fn"
path = "src/bins/fn.rs"

[[bin]]
name = "stt"
path = "src/bins/stt.rs"

[[bin]]
name = "key_generator"
path = "src/bins/key_generator.rs"

[[bin]]
name = "staking_cfg_generator"
path = "src/bins/cfg_generator.rs"
