[package]
name = "finutils"
version = "0.2.11"
authors = ["FindoraNetwork"]
build = "build.rs"
edition = "2021"

[dependencies]
tokio = "1.10.1"
hex = "0.4.2"
base64 = "0.12"
clap = { version = "4.1.6", features = ["yaml"] }
lazy_static = "1.4.0"
attohttpc = { version = "0.23", default-features = false, features = ["compress", "json", "tls-rustls"] }
serde_json = "1.0.40"
serde = { version = "1.0.124", features = ["derive"] }
rand = "0.8"
rand_core = { version = "0.5", default-features = false, features = ["alloc"] }
rand_chacha = "0.2"
curve25519-dalek = { version = "3.0", features = ["serde"] }
wasm-bindgen = { version = "=0.2.73", features = ["serde-serialize"] }
sha2 = "0.10"

zei = { git = "https://github.com/FindoraNetwork/zei", branch = "stable-main" }
ruc = "1.0"
rucv3 = { package = "ruc", version = "3.0" }
nix = "0.25"

ledger = { path = "../../ledger" }
globutils = { path = "../../libs/globutils" }
credentials = { path = "../../libs/credentials" }

eth_checksum = { version = "0.1.2", optional = true }
fp-core = { path = "../contracts/primitives/core", default-features = false }
fp-utils = { path = "../contracts/primitives/utils" }
fp-types = { path = "../contracts/primitives/types" }

tendermint = { git = "https://github.com/FindoraNetwork/tendermint-rs", tag = "v0.19.0a-fk" }
tendermint-rpc = { git = "https://github.com/FindoraNetwork/tendermint-rs", features = ["http-client", "websocket-client"], optional = true, tag = "v0.19.0a-fk" }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
# chaindev = { path = "../../../../chaindev" }
chaindev = { git = "https://github.com/rust-util-collections/chaindev", tag = "tm33v7" }

[dev-dependencies]

[build-dependencies]
vergen = "=3.1.0"

[features]
default = ["std"]
std = [
    "eth_checksum",
    "tendermint-rpc"
]
abci_mock = ["ledger/abci_mock"]
debug_env = ["ledger/debug_env"]
genstx = []

[[bin]]
name = "fn"
path = "src/bins/fn.rs"

[[bin]]
name = "stt"
path = "src/bins/stt/stt.rs"

[[bin]]
name = "key_generator"
path = "src/bins/key_generator.rs"

[[bin]]
name = "staking_cfg_generator"
path = "src/bins/cfg_generator.rs"
