[package]
name = "fp-core"
version = "0.1.0"
authors = ["FindoraNetwork"]
edition = "2018"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora Primitive core types"
readme = "README.md"

[dependencies]
abci = { git = "https://github.com/FindoraNetwork/rust-abci", tag = "v0.7.2" }
ethereum = { version = "0.9.0", default-features = false, features = ["with-serde"] }
impl-trait-for-tuples = "0.2"
parking_lot = "0.11.1"
primitive-types = { version = "0.10.0", default-features = false, features = ["rlp", "byteorder", "serde"] }
ruc = { git = "https://github.com/FindoraNetwork/RUC.git", branch = "master" }
serde = { version = "1.0.124", features = ["derive"] }
storage = { git = "https://github.com/FindoraNetwork/storage.git", tag = "v0.1.1" }
serde_with = { version = "1.9.4"}

# primitives
fp-types = { path = "../types" }
