[package]
name = "fp-core"
version = "0.1.0"
authors = ["FindoraNetwork"]
edition = "2021"
homepage = "https://findora.org/technology"
repository = "https://github.com/findoranetwork/platform/"
description = "Findora Primitive core types"
readme = "README.md"

[dependencies]
abci = { git = "https://github.com/FindoraNetwork/tendermint-abci", tag = "0.7.4", optional = true }
ethereum = { version = "0.12.0", default-features = false, features = ["with-serde"] }
impl-trait-for-tuples = "0.2"
parking_lot = "0.12"
primitive-types = { version = "0.11.1", default-features = false, features = ["rlp", "byteorder", "serde"] }
ruc = "1.0"
serde = { version = "1.0.124", features = ["derive"] }
storage = { git = "https://github.com/FindoraNetwork/storage.git", tag = "v1.1.4", optional = true }
fin_db = { git = "https://github.com/FindoraNetwork/storage.git", tag = "v1.1.4", optional = true }
serde_with = { version = "2.2.0"}

# primitives
fp-types = { path = "../types" }
config = { path = "../../../config"}

[features]
default = ["with-storage-net"]
with-storage-net = ["storage", "fin_db", "abci"]
